<h1>Users List</h1>
<a href="/users/create">Create New User</a>

<ul>
  <% users.forEach(user => { %>
    <li><%= user.name %> - <%= user.email %> <%= user.company ? user.company.name : 'No company' %>  <a href="/users/edit">Edit</a> <a href="/users">Delete</a></li>
  <% }) %>
</ul>


<h3><a href="/company">View Companies</a></h3>